click==8.1.3
datasets==3.6.0
einops==0.8.0
numpy==1.26.4
omegaconf==2.3.0
torch==2.6.0
huggingface-hub
tqdm==4.66.3
transformers==4.51.3
yacs==0.1.8
accelerate==0.32.1
protobuf==4.24.4
jieba==0.42.1
rouge==1.0.1
fuzzywuzzy==0.18.0
loguru==0.7.2
fastchat==0.1.0
wonderwords
tenacity
tabulate
termcolor
tiktoken
fuzzywuzzy
rouge_score
evaluate
hydra-core==1.3.2
pytorch-lightning==2.0.7
wheel
Cython
nemo_toolkit[all]==2.3.0
nltk==3.9.1
seaborn